@font-face {
  font-family: 'DM Serif Display';
  src: url('./assets/fonts/DMSerifDisplay-Regular.ttf');
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Regular.ttf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-poppins bg-primary text-black flex flex-col min-h-screen;
}

p {
  @apply font-poppins text-black text-sm;
}

.card {
  @apply bg-white p-4 rounded-2xl shadow-lg;
}